<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Employees</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
			<thead></thead>
			<tr>
				<th>Name</th>
				<th>Salary</th>
				<th>Age</th>
				<th>Action</th>
			</tr>
		  
			<tbody>
				<tr *ngFor="let employee of employees">
					<td>{{employee.employee_name}}</td>
					<td>{{employee.employee_salary}}</td>
					<td>{{employee.employee_age}}</td>
					<td>
						<button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
						<button class="btn btn-success" (click)="editEmployee(employee.id)" style="margin-left: 20px;"> Edit</button>
					</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>