<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>Employee</h5>
					<div class="ibox-tools">
						<a class="close-link btn btn-xs btn-primary" routerLink="/addemployee">
							<i class="fa fa-plus"></i> Add New
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Salary</th>
								<th>Age</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let employee of employees">
								<td>{{employee.employee_name}}</td>
								<td>{{employee.employee_salary}}</td>
								<td>{{employee.employee_age}}</td>
								<td>
									<button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
									<button class="btn btn-success" (click)="editEmployee(employee.id)" style="margin-left: 20px;"> Edit</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>